@model StartFromScratch.ViewModels.Employe.AdditionVM;

<!--
   Cette vue fonctionnera si le controller lui fournit un model (objet)
   Contenant 3 attributs a,b,result
   Avec @@model => Le type de l'objet est déterminé =>  pas d'erreur sur les données intégrées dans la vue'
-->

<div>
    Le résultat de l'addition de @Model.A et @Model.B
    est @Model.Result
</div>
