@model IndexVM

@{
    ViewBag.Title = "Liste des employés";
}


<p>
    <a asp-action="Create">Create New</a>
</p>

<hr />
<h5>Recherche</h5>
<form asp-action="Index">
    @*  @Html.Partial("_Search",new EmployeSearchModel(){Anciennete=5}) *@
    <partial name="_Search" model="Model.SearchModel"></partial>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<hr />

<partial name="_Index_Partial" model="Model.Liste" />




@Html.ActionLink("Augmenter anciennete > 5", "AugmenterSalaires", new { taux = 1.05M, Anciennete = 5 },
        new { toto = "H", @class = "btn btn-danger" }
    )


<!-- Cette partie de code HTML sera mise en place dans la page finale par le layout -->
@section head {
    <style>
        .toto {
        }
    </style>
    <script>
        function alerte(){}
    </script>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

