<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Rendu dans le layout de la section définie dans la vue -->
    @RenderSection("head",false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
